.idea
cockroach1
cockroach2
cockroach3
ybmaster1
ybtserver1
ybtserver2
ybtserver3
tipd0
tipd1
tipd2
tikv0
tikv1
tikv2
logs
redpanda1
redpanda2
redpanda3
zkdata1
zklog1
kafkadata1
kafkadata2
kafkadata3
tarantool1
jet0
jet1
jet2
jet3
ydb_certs
ydb_data
2022fts/datasets/*
!2022fts/datasets/*.go
.vscode
2022fts/elasticsearch/elasticsearchdata/nodes/
meilisearchdata/*
redisearchdata/*
typesensedata/*
2022fts/manticoresearch/manticoresearchdata/
2022fts/redisearch/redisearchdata/
